ejemplo_files/libs/quarto-html/quarto-syntax-highlighting.css
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/cqn0qqzb61soh/000010.error
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/cqn0qqzb61soh/00000f.csv
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/chunks.json
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/c9rynhfh5erx1/00001d.error
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/c9rynhfh5erx1/00001c.csv
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/c9rynhfh5erx1/00001b.snapshot
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/c9rynhfh5erx1/00001b.png
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/c9rynhfh5erx1/00001b.metadata
.Rproj.user/2448EBFE/jobs/8ABD0C6F-output.json
.Rproj.user/2448EBFE/pcs/files-pane.pper
.Rproj.user/2448EBFE/pcs/source-pane.pper
.Rproj.user/2448EBFE/pcs/windowlayoutstate.pper
.Rproj.user/2448EBFE/pcs/workbench-pane.pper
.Rproj.user/2448EBFE/quarto-crossref/23A1A53F
.Rproj.user/2448EBFE/quarto-crossref/INDEX
.Rproj.user/2448EBFE/sources/prop/E6AF65DF
.Rproj.user/2448EBFE/sources/session-4e48ef58/B07D82A0
.Rproj.user/2448EBFE/sources/session-4e48ef58/lock_file
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/2448EBFE4e48ef58/c69411yigksug/00000f.csv
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/2448EBFE4e48ef58/chunks.json
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/c1d4ms979up32/000003.metadata
.Rproj.user/shared/notebooks/E0EF176B-ejemplo/1/s/c1d4ms979up32/000003.snapshot
